{% extends 'base.html' %}

{% block title %}Category: {{ cats }}{% endblock %}

{% block content %}

{% if category_posts %}
    <br>
    <h1>{{ cats }} Category</h1><br>
    <ul>
        {% for post in category_posts %}
            <li>
                <a href="{% url 'article_detail' post.pk %}">{{ post.title }}</a>
                - {{ post.author.first_name }} {{ post.author.last_name }}
                - {{ post.category }}
                - {{ post.post_date|date }}<br>
                {{ post.body|slice:":200" }}
            </li> 
            <br>
        {% endfor %}
    </ul>

{% else %}
    <h3>Sorry this page does not exist.</h3>
{% endif %}
    <a class="btn btn-secondary" href="{% url 'home' %}">To Home</a>
{% endblock %}
