{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"  href="{% static 'allIn/css/styles.css' %}">
</head>
<body>
    <div class="top-color"></div>
    <nav class="nav">
        <div class="left_nav">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="{% url 'blog:home' %}">Blog</a></li>
                <!-- <li><a href="#">Products</a></li> -->
            </ul>
        </div>
        <div class="main_title">
            <h2>Postext</h2>
        </div>
        <div class="right_nav">
            <ul>
                <!-- <li><a href="#">Blog</a></li> -->  
                <li><a href="#">Login</a></li>
                <li><a href="#">Register</a></li>
            </ul>
        </div>
    </nav>
    <section id="landing-page_section" class="page">
        <div class="container">
            <div class="text">
                <div class="text-main">Using free tools and reading others' stories is cool!</div>
                <div class="content">
                    <p>Discover a world of endless possibilities with our user-friendly blog posting platform, where your thoughts find a voice.</p>
                    <a href="#second" class="get-started-button">Use Tools</a>
                    <a href="{% url 'blog:home' %}" class="get-started-button">Blog</a>
                </div>
            </div>
            <div class="image">
                <img src="{% static 'allIn/images/side.png' %}" alt="This is an image" class="image">
            </div>
        </div>
    </section>
    <section id="second" class="page">
        <div class="container_tools">
            <div class="container_card">
                <div class="body_of_card">
                    <h3 class="title_text">Text Analysis Tools</h3>
                    <div class="tools_container">
                        <div class="body_of_tools">
                            <img src="{% static 'allIn/images/note.png' %}" class="tool_image" alt="LOL" width="50px">
                            <div class="small_text">This is something</div>
                        </div>
                        <div class="body_of_tools">
                            <img src="{% static 'allIn/images/note.png' %}" class="tool_image" alt="LOL" width="50px">
                            <div class="small_text">This is something</div>
                        </div>
                        <div class="body_of_tools">
                            <img src="{% static 'allIn/images/note.png' %}" class="tool_image" alt="LOL" width="50px">
                            <div class="small_text">This is something</div>
                        </div>
                        <div class="body_of_tools">
                            <img src="{% static 'allIn/images/note.png' %}" class="tool_image" alt="LOL" width="50px">
                            <div class="small_text">This is something</div>
                        </div>
                        <div class="body_of_tools">
                            <img src="{% static 'allIn/images/note.png' %}" class="tool_image" alt="LOL" width="50px">
                            <div class="small_text">This is something</div>
                        </div>
                        <div class="body_of_tools">
                            <img src="{% static 'allIn/images/note.png' %}" class="tool_image" alt="LOL" width="50px">
                            <div class="small_text">This is something</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>

    <footer style="background-color: #464F41; color: white; padding: 20px; text-align: center;">
        &copy; 2023 POSTEXT
    </footer>
</body>
</html>
